<%= error_messages_for 'team' %>

ID: <%= f.text_field :id %><br />
full name: <%= f.text_field :full_name %><br />
short name: <%= f.text_field :short_name %><br />
owner: <%= f.text_field :owner %><br />
draft order: <%= f.text_field :draft_order %><br />
<button type=ÒsubmitÓ>Save</button> 