<h1>Editing player</h1>

<%= form_tag :action => 'update', :id => @player %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @player %> |
<%= link_to 'Back', :action => 'live' %>
