<%= error_messages_for 'pick' %>

<!--[form:pick]-->
<p><label for="pick_player">Player</label><br/>
<%= text_field 'pick', 'player_id'  %></p>

<p><label for="pick_pick_number">Pick number</label><br/>
<%= text_field 'pick', 'pick_number'  %></p>


<p><label for="pick_team">Team</label><br/>
<%= 
@teams = Team.find(:all, :order => "short_name")
collection_select(:pick, :team_id, @teams, :id, :short_name) 
%> <br />



<!--[eoform:pick]-->