<% for pick in @picks %>
  <span class="ListLine<%= cycle("1","0") %>"><%=h pick.pick_number %>. <%=h pick.player.player unless pick.player.nil? %> 
  (<%=h pick.team.short_name unless pick.team.nil? %> - <%=h pick.player.pos unless pick.player.nil? %></td>)<br />
<% end %>
