<%= error_messages_for 'user' %>

  login: <%= f.text_field :login %><br />
  password: <%= f.text_field :password %><br />
  email: <%= f.text_field :email %><br />
  team_id: <%= f.text_field :team_id %><br />
  role: <%= f.text_field :role %><br />
<button type=ÒsubmitÓ>Save</button> 
