<html>
<head>
  <title>Playeradmin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="asshead"><h1><img src="/images/assy.gif" width=30 height=30> DraftDay</h1></div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
