<html>
<head>
  <title>Playeradmin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="asshead">
<table width="100%">
<tr valign="middle"><td ><h2><img src="/images/assy.gif" width=30 height=30> DraftDay</h2></td>
<td style="text-align:right;">
<% if session[:user] %>
<%= "Welcome #{session[:user].login} [#{session[:user].role}] !" %> 
[ <%= link_to "logout", :controller => "user", :action => "logout" %>  ]<br />
Players
<%= 
  if is_admin? 
    link_to "Picks", :controller => "draftadmin", :action => "list"
  else
    link_to "Picks", :controller => "draftadmin", :action => "live"    
  end
%>
<%= 
  if is_admin? 
    link_to "Teams", :controller => "teamadmin", :action => "list"
  end
%>
<% end %>
</td></tr></table>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>