<html>
<head>
  <title>Playeradmin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="asshead">
<img src="/images/assy.gif" width=30 height=30> DraftDay
<span style="text-align:right;">
Players
<%= link_to "Picks", :controller => "draftadmin", :action => "live" %>
<%= link_to "Teams", :controller => "teamadmin", :action => "list" %>
</span>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
